<!DOCTYPE html>
<html>
<head>
	<title>act.</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="row" style="margin-top: 2.5%;">
		<!-- <form method="get" action="/topics/BLM%20Toronto" style="width:100%;">
			<input type="" name="" placeholder="Search for a topic" id="searchBar">

			<button id="addTopic" onclick="addTopic()" type="submit" formmethod="get">Follow</button>
		</form> -->
		<form action="javascript:;" onsubmit="findEvent(this)" style="width: 100%;">
			<input type="text" id="searchBar" placeholder="Search for an event...">
			<input type="submit" id="addTopic" value="Search">
		</form>
	</div>
	

		<div class="row" id="TopicsHolder">

		
		</div>





</body>
<script type="text/javascript" src="main.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</html>