<!DOCTYPE html>
<html>
<head>
	<title>act.</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<button id="addTopic" onclick="addTopic()">+</button>
	</div>
	

		<div class="row" id="TopicsHolder">

			<div class="card" style="width: 45%;">
  				<div class="card-header">
    				Topic Name
  				</div>
 			 	<div class="card-body" style="overflow: hidden; height: 80vh; overflow-y: scroll;">
    				
 			 		<div class="card" style="width: 100%; margin-top: 10%; margin-bottom: 10%;">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="card-link">Card link</a>
    						<a href="#" class="card-link">Another link</a>
  						</div>
					</div>

					<div class="card" style="width: 100%; margin-top: 10%; margin-bottom: 10%;">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="card-link">Card link</a>
    						<a href="#" class="card-link">Another link</a>
  						</div>
					</div>

					<div class="card" style="width: 100%; margin-top: 10%; margin-bottom: 10%;">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="card-link">Card link</a>
    						<a href="#" class="card-link">Another link</a>
  						</div>
					</div>						


  				</div>
			</div>

			<div class="card" style="width: 45%;">
  				<div class="card-header">
    				Topic Name
  				</div>
 			 	<div class="card-body">
    				
 			 		<div class="card" style="width: 100%;">
  						<div class="card-body">
    						<h5 class="card-title">Card title</h5>
    						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    						<a href="#" class="card-link">Card link</a>
    						<a href="#" class="card-link">Another link</a>
  						</div>
					</div>						


  				</div>
			</div>
		</div>





</body>
<script type="text/javascript" src="main.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</html>